<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= product.name %></h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title"><strong>Quantidade: </strong><%=product&.combination&.amount%></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li><strong>Decrição: </strong><%= product.description %></li>
      <li><strong>Tamanho: </strong><%= product&.combination&.size&.name %></li>
      <li><strong>Cor: </strong><%= product&.combination&.color&.name %></li>
    </ul>
    <% if action_name == 'index' %>
      <%= index_links(product) %>
    <% else %>
      <%= show_links(product) %>
    <% end %>
  </div>
</div>
